# Ignore Gradle build output and IDE/project files
.gradle/
build/
.vscode/
local.properties
# Ignore macOS system files
.DS_Store 
.idea/ 

androidApp/build/
androidApp/src/main/kotlin/com/musicvisualizer/util/glslViewer/